@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<div class="container-fluid">
    @Html.ActionLink("VOLVER", "Index", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</div>
